body {
  background-color: #ECF9FF;
}
  hr {
    border-style: none;
    border-top-style: dotted;
    border-top-color: #F8CBA6;
    border-top-width: 7px;
    width: 7%
}
  h1 {
    color: #6096B4
  }
  h3 {
    color: #6096B4
  }
